$white: #ffffff;

$grey-50: #FAFAFA;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-500: #9E9E9E;
$grey-900: #212121;


$orange-500: #FF5722;
$orange-600: #F4511E;
$orange-700: #E64A19;
$orange-800: #D84315;
$orange-900: #BF360C;

$font-default: $grey-900;

$padding-16px: 16px;
$padding-default: $padding-16px;